@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;669;700;800;900&display=swap');

body {
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    display: none;
    top: 0;
}

/*
.radio {
 background-image: url("../img/radio.png");
 background-repeat: no-repeat;
 background-size: auto;
 background-attachment: fixed;

}
*/

input:focus{
  outline: 0;
}

#submit {
    background: rgba(0, 0, 0, 0);
    color: black; 
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 10px;
    padding: 10px 0px; 
    margin-left: 33.5px;
    margin-top: 0px;
    cursor: pointer;
    width: 68px;
    height: 20px;
    line-height: 0px;
    display: block;
    text-transform: uppercase;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 3px;
    outline: none;
}

#submit:hover {
  background: rgba(0, 0, 0, 1);
  color: #faaf15; 
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  font-size: 11px;
  padding: 10px 0px; 
  margin-left: 33.5px;
  margin-top: 0px;
  cursor: pointer;
  width: 60px;
  height: 20px;
  line-height: 0px;
  display: block;
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 3px;
  outline: none;
}

#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
    opacity: 0;
}

#radio {
  width: 367px;
  height: 455px;
  right: 0;
  bottom: 0;
  position: fixed;
  animation: slideMe 1s;
}


#onoff {
  position: absolute;
  top: 30%;
  right: 46%;
  padding: 18px 18px;
  opacity: 0;
}

.onoff button {
 padding: 25px 25px;

 opacity: 0;
}

.ekran {
  position: absolute;
  background-color: transparent;
  padding: 0px 0px;
  top: 47%;
  left: 11%;
}

.channel {
  position: absolute;
  top: 15%;
  left: 0%;
}

.channel span {
  text-align: center;
}

.channel input {
  text-align: center;
  border: none;
  background-color: transparent;
  padding: 20px 20px;
  font-size: 23px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
}

@keyframes slideMe {
  0% {
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0
  }

  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1
  }

}